body
{
    background-color: #DEFCF9;
    margin: 0px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #40514E;
}
a
{
    text-decoration: none;
}
h1
{
    color: #11999E;
    font-size: 3.125rem;
    font-family: 'Kaushan Script', cursive;
    width: 20%;
    margin: 2rem auto 0 auto;
}
h2
{
    font-weight: 600;
    font-size: 1.8rem;
    color: #3D84A8;
    width: 20%;
    margin: 1.8rem auto 0 auto;

}
hr
{
    margin-top: 0px;
    border-style: none;
    border-top-style: dotted;
    border-color: #11999E;
    border-width: 5px;
    width: 10%;
}
div
{
    margin: 100px auto;
    background-color: #DEFCF9;
}
/* ===================== CLASS ======================*/
.cse_stu
{
    color: #3D84A8;
    font-family: 'Oregano', cursive;
}
.top_container
{
    padding: 40px;
    background-color: #DEFCF9;
    position: relative;
}
.middle_container
{
    margin-top: 0;
}
.top_cloud
{
    position: absolute;
    right: 200px;   
    top: 90px;
}
.bottom_cloud
{
    position: absolute;
    left: 250px;
    bottom: 300px;

}
.skill-row1
{
    margin: 80px auto 80px auto;
    width: 50%;
    text-align: left;
    line-height: 2;
}
.skill-row2
{
    margin: 80px auto 150px auto ;
    width: 50%;
    text-align: left;
    line-height: 2;
}
.coding
{
    width: 50%;
    margin-right: 30px;
    float: left;
}
.schooling
{
    width: 50%;
    margin-right: 30px;
    float: left;
}
.bottom_container
{
    margin: 0;
    background-color: #11999E;
    padding: 50px 0px 20px;
}
.footer-link
{
    color: white;
}
.copyright
{
    color: white;
}
